:root {
    --cor-fundo: #ffffff;
    --cor-texto: #ffffff;
    --cor-textoTitulo:  rgb(15, 15, 15);
    --cor-textoTituloOpaco:  rgb(61, 61, 61);
}
body *, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    color: var(--cor-texto);
    background: var(--cor-fundo);
}
.nav{
    position: fixed; 
    display: flex;
    width: 100%;
    opacity: 1;
    z-index: 999;
   /*  box-shadow: -1px 1px 5px rgb(163, 161, 161); */
}
.nav .lista{
   width: 100%;
   height: 10vh; 
   display: flex;
}
.nav .switchColors{
   height: 10vh;
   width: 100px; 
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #025955;
}
.nav .switchColors img{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(298deg) brightness(102%) contrast(102%);
}
.nav .switchColors img:hover{
    cursor: pointer;
}
.nav .lista li{
    background-color: #025955;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100%/4);
    height: 100%;
}
.nav .lista li:hover{
    background-color: #00917C;
}
.nav .switchColors:hover{
    background-color: #00917C;
}
.nav .lista li a{
    text-align: center;
    text-decoration: none;
    width: 100%;
    display: block;
    font-weight: bold;
    font-size: 1.2em;
    text-shadow: 1px 1px 1px grey;
    color: var(--cor-texto);
}
.mobile{
    display: none;
}
@keyframes blink{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}
#messageInitial{
    margin: 0 auto;
   /*  white-space: nowrap; */
    overflow: hidden;
}
#messageInitial:after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: blink .7s infinite;
}   
.expe{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.experience{
    padding: 15px;
}
.experience h4{
    font-size: 2em;
}
.experience ul{
    padding: 10px;
}
.experience ul li{
    color: var(--cor-textoTitulo);
    margin-left: 40px;
}
.experience p{
    color: var(--cor-textoTitulo);
    text-indent: 20px;
}
.experience span{
    color: var(--cor-textoTituloOpaco);
    text-align: end;
}
.header{
    width: 100%;
    height: 90vh;
   /*  background: linear-gradient(rgba(32,32,32),rgb(17, 17, 17),rgba(32,32,32));  */
    display: flex;
    /* background-image: url("assets/setup.jpg"); */
    opacity: 0.9;
    justify-content: space-around;
    flex-wrap: wrap;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    transition: all 3s; 
}
.containerHeader{
    width: 100%;
    border-radius: 10px;
    margin: auto;
    padding: 15px;
    /* background-color: #93B1A6; */
   /*  background-color: #433520; */
}
.containerHeader h1, .containerHeader p{
    color: var(--cor-textoTituloOpaco);
    font-size: 3em;
    font-family: arial;
    text-align: center;
    /* 
    text-shadow: -1px 1px 5px black; 
    */
}
.containerHeader img{
    border: 2px solid #025955;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    display: block;
}
.containerHeader p {
    font-size: 2em;
    text-align: end;
    font-family:'Times New Roman', Times, serif;
}
main{
    width: 100%;
}
main h1{
    color: var(--cor-textoTitulo);
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 3em;
}
main .aboutMe{
    box-shadow: 1px 1px 7px 1px #025955;
    width: 100%;
    padding: 20px;
}
.aboutMe .containerMe{  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}
.aboutMe .containerMe section{
    padding: 15px;
}
.containerMe #sobreMim{
    width: 600px;
    color: var(--cor-textoTituloOpaco);
}
.aboutMe .containerMe #profile{
    border-radius: 200px;
    max-height: 400px;
    margin: 0 auto;
    display:flex;
}
.educationContainer{
    padding: 20px;
    background-size: 100px;
    background-repeat: no-repeat;
    background-position-x: 150px;
    width: 400px;
}
.languagesContainer{
    padding: 20px;
    list-style-type: none;
    font-size: 1.1em;
}
.socialMediaContainer{
    padding: 20px;
    display: flex;
}
.socialMediaContainer img{
    width: 50px !important;
    height: 50px;
}
.educationContainer .iconDiploma{ 
    height: 20px;
    width: 20px !important;
}
.educationContainer *, .languagesContainer *, h4{
    color: var(--cor-textoTitulo);
}
main .techs{
    margin-top: 50px;
    width: 100%;
    padding: 20px;
}
main .expe{
    margin-top: 50px;
    width: 100%;
    padding: 20px;
}
.techs #options span{
    color: black;
}
main .techs .thanos{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    display: none;  
}
.thanos img{
    width: 400px;
}
.techs .containerTechs{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.techs .containerTechs section{
    padding: 20px;
    margin-top: 5px;
    width: 300px;
    height: 100%;
    text-align: center;
    font-size: 1.2em;
}
.techs p{
    color: var(--cor-textoTitulo);
    display: flex;
    justify-content: center;
}
.techs p span:nth-child(1){
    background-color: rgb(130, 240, 130);
    padding: 10px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.techs p span:nth-child(2){
    background-color: rgb(241, 47, 47);
    padding: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.techs p span:nth-child(1):hover, .techs p span:nth-child(2):hover{
    font-weight: bold;
    cursor: pointer;
}
.containerTechs section .bar{
    width: 100%;
    height: 30px;
    border: 1px solid black;
    overflow: hidden;
    margin-top: 5px;
}
.containerTechs section .bar .progress{
    height: 100%;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
    padding: 5px;
    background-color: rgb(7, 94, 65);
}
.techs .containerTechs img{
    margin-bottom: 5px;
    width: 100%;
    height: 100%;
}
.certificates{
    box-shadow: 1px 1px 7px 1px #025955;
    margin-top: 50px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.certificates h1{
    text-align:left;
}
.certificates .containerCertificates{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5px;
}
.containerCertificates .certificate{
    display: flex;
    margin-top: 10px;
    background-color: #93B1A6; 
    width: 700px;
}
.containerCertificates .certificate .certificateMore{
    width: 100%;
    padding: 5px;
}
.containerCertificates .certificate .certificateMore h3{
    width: 100%;
    padding: 5px;
    color: var(--cor-textoTitulo);
}
.containerCertificates .certificate .certificateMore p{
    text-align: end;
    color: var(--cor-textoTituloOpaco);
    margin-bottom: 5px;
}
.containerCertificates .certificate .certificateMore a{
    text-align: center;
    color: black;
    margin-top: 5px;
    display: block;
}
.certificates .containerCertificates img{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-self: center;
}
.projects{
    margin-top: 30px;
    width: 100%;
    padding: 20px;
    color: var(--cor-textoTituloOpaco);
}
.projects .containerProjects{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.containerProjects section{
    width: calc(100%/2 - 20px);
    padding: 30px;
}
.containerProjects section img{
    margin: 0 auto;
    height: 200px;
    display: block;
    margin-bottom: 10px;
}
.containerProjects section a{
    color: var(--cor-textoTitulo);
    text-align: center;
    margin-top: 5px;
    display: block;
}
footer{
    box-shadow: 1px 1px 7px 1px #025955;
    margin-top: 80px;
    width: 100%;
    height: 20px;
    padding: 30px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}
footer * {
    color: var(--cor-textoTitulo);
}
.contact{
    margin-top: 20px;
    color: var(--cor-textoTitulo);
    width: 100%;
    border-top: 2px solid #025955;/* 
    border-bottom: 2px solid #025955; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.contact  h1{
    color: var(--cor-textoTitulo);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 3em;
}
.contact .form-contact{
    margin-top: 20px;
    width: 80%;
}
.contact .form-input{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
}
.contact .form-input input,.contact .form-input textarea{
    font-size: 1.5em;
    padding: 10px;
    border: none;
    outline-color: #00917C;
    outline-width: 1px;
    border-bottom: 1px solid black;
}
.contact .form-input input[type=submit]{
    border: none;
    background-color: #00917C;
    color: var(--cor-texto);
    text-shadow: 1px 1px black;
}
.contact .form-input input[type=submit]:hover{
    cursor: pointer;
    background-color: rgb(3, 119, 102);
}
[title]:hover:after {
    content: attr(title);
    padding: 5px;
    color: #fff;
    background: #000;
    position: absolute;
    z-index: 1;
    white-space: nowrap;
}   
@media screen and (max-width:800px){
    * img{
        width: 100% ;
        height: 100% ;    
    }
    .nav{
        margin-top: 10vh;
        opacity: 1;
        z-index: 999;
        position: fixed;
    }
    .nav .lista{
        width: 100%;
        transition: all 0.2s;
        flex-wrap: wrap;
        transform: translateX(-110%); 
    }
    .nav .lista li{
        width: 100%;
    }
    .mobile{
        display: flex;
        position: fixed;
        z-index: 999;
        top: 0;
        height: 10vh;
        width: 100%;
        background-color: #025955;
    }
   .position{
        width: 100%;
        height: 100%;
        background-color: #04706b;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .position #button_mobile{
        height: 100%;
        width: 90px;
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(298deg) brightness(102%) contrast(102%);
    }
    .nav .switchColors{
        display: none;
    }
    .position .mobileSwitchColors{
        height: 10vh;
        width: 100px; 
        display: flex;
        justify-content: end;
        align-items: center;
     }
     .position .mobileSwitchColors img{
         filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(298deg) brightness(102%) contrast(102%);
     }
     .position .mobileSwitchColors img:hover{
         cursor: pointer;
     }
    .containerHeader{
        font-size: 0.9em;
    }
    .containerHeader img{
        margin-top: 12vh;
        width: 90%;
    }
    .containerMe #profile{
        max-height: 300px;
    }
    .containerCertificates .certificate{
        width: 100%;
    }
    .containerProjects section, .containerMe section{
        width: 100%;
    }
    .educationContainer{
        width: 100%;
    }
    h4,h3,h2,h1,h5{
        font-size: 1.0em !important;
    }
}