:root {
    --cor-fundo: #ffffff;
    --cor-texto: #ffffff;
    --cor-textoTitulo:  rgb(15, 15, 15);
    --cor-textoTituloOpaco:  rgb(61, 61, 61);
}
body *, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    color: var(--cor-texto);
    background: var(--cor-fundo);
}
.nav{
    position: fixed; 
    display: flex;
    width: 100%;
    opacity: 1;
    z-index: 999;
   /*  box-shadow: -1px 1px 5px rgb(163, 161, 161); */
}
.nav .lista{
   width: 100%;
   height: 10vh; 
   display: flex;
}
.nav .switchColors{
   height: 10vh;
   width: 100px; 
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #025955;
}
.nav .switchColors img{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(298deg) brightness(102%) contrast(102%);
}
.nav .switchColors img:hover{
    cursor: pointer;
}
.nav .lista li{
    background-color: #025955;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100%/4);
    height: 100%;
}
.nav .lista li:hover{
    background-color: #00917C;
}
.nav .switchColors:hover{
    background-color: #00917C;
}
.nav .lista li a{
    text-align: center;
    text-decoration: none;
    width: 100%;
    display: block;
    font-weight: bold;
    font-size: 1.2em;
    text-shadow: 1px 1px 1px grey;
    color: var(--cor-texto);
}
.mobile{
    display: none;
}
.header{
    height: 10vh;
}
main{
    width: 80%;
    margin: 30px auto;
}
.projectsOld{
    margin-top: 30px;
    color: var(--cor-textoTituloOpaco);
}
.projectsOld h2, h1{
    text-align: center;
    color: var(--cor-textoTitulo);
}
.containerOldProjects{
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
}
.containerOldProjects ul{
    list-style: none;
    padding: 20px;
}
.containerOldProjects a{
    display: block;  
}
.containerOldProjects ul img{
    max-height: 300px;
    width: 350px;
}
.containerOldProjects ul li{
    padding: 10px;
    color: var(--cor-textoTituloOpaco);
}
.projects{
    margin-top: 100px;
}
.project{
    margin-top: 40px;
    margin-bottom: 40px;
    border-top: 1px solid rgb(18, 207, 182);
}
.project h2{
    margin-top: 30px;
    color: var(--cor-textoTitulo);
}
.project p{
    margin-top: 10px;
    color: var(--cor-textoTituloOpaco);
}
.containerProject{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.containerProject .projectDescription{
    padding: 10px;
    width: 500px;
}
.containerProject .projectDescription a{
    display: block;
}
.containerProject img {
    margin-bottom: 15px;
    max-width: 500px;
}
footer{
    box-shadow: 1px 1px 7px 1px #025955;
    margin-top: 80px;
    width: 100%;
    height: 20px;
    padding: 30px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    color: var(--cor-textoTituloOpaco);
}
.contact{
    margin-top: 20px;
    color: var(--cor-textoTitulo);
    width: 100%;
    border-top: 2px solid #025955;/* 
    border-bottom: 2px solid #025955; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.contact  h1{
    margin-top: 20px;
}
.contact .form-contact{
    margin-top: 20px;
    width: 80%;
}
.contact .form-input{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
}
.contact .form-input input,.contact .form-input textarea{
    font-size: 1.5em;
    padding: 10px;
    border: none;
    outline-color: #00917C;
    outline-width: 1px;
    border-bottom: 1px solid black;
}
.contact .form-input input[type=submit]{
    border: none;
    background-color: #00917C;
    color: var(--cor-texto);
    text-shadow: 1px 1px black;
}
.contact .form-input input[type=submit]:hover{
    cursor: pointer;
    background-color: rgb(3, 119, 102);
}

@media screen and (max-width:800px){
    * img{
        width: 100% ;
        height: 100% ;    
    }
    .nav{
        flex-wrap: wrap;
        margin-top: 10vh;
        opacity: 1;
        z-index: 999;
        position: fixed;
    }
    .nav .lista{
        width: 100%;
        transition: all 0.2s;
        flex-wrap: wrap;
        transform: translateX(-110%); 
    }
    .nav .lista li{
        width: 100%;
    }
    .mobile{
        display: flex;
        position: fixed;
        z-index: 999;
        top: 0;
        height: 10vh;
        width: 100%;
        background-color: #025955;
    }
    .position{
        width: 100%;
        height: 100%;
        background-color: #04706b;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .position #button_mobile{
        height: 100%;
        width: 90px;
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(298deg) brightness(102%) contrast(102%);
    }
    .nav .switchColors{
        display: none;
    }
    .position .mobileSwitchColors{
        height: 10vh;
        width: 100px; 
        display: flex;
        justify-content: end;
        align-items: center;
     }
     .position .mobileSwitchColors img{
         filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(298deg) brightness(102%) contrast(102%);
     }
     .position .mobileSwitchColors img:hover{
         cursor: pointer;
     }
    h4,h3,h2,h1,h5{
        font-size: 1.0em !important;
    }

}